<!DOCTYPE html>
<html class="html" lang="en-US">
  <head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
	<title>{% block title %}Monte Christo Trade Corp.{% endblock %}</title>

	{% load static %}
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "homepage/bootstrap.min.css" %}"/>
	<!-- <link rel="stylesheet" type="text/css" href="{% static "homepage/font-awesome.min.css" %}"/> -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static "homepage/base-style.css" %}"/>

	{% block css %}
	{% endblock %}
	
  </head>

  <body data-spy="scroll" data-target="#main-navbar">
  	<!-- Navbar -->
  	<div class="navbar navbar-default navbar-fixed-top" id="#main-navbar">
	  <div class="container-fluid navbar-border">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">MC Trade Corp.</a>
	    </div>
		<div class="collapse navbar-collapse" style="text-align:right;">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/#manufacturing">Manufacturing</a></li>
	        <li><a href="/#services">Services</a></li>
	        <li><a href="/#contact">Contact</a></li>
	        <li><a href="/catalogue">Catalogue</a></li>
	        <li><a href="/webstore">Shop</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->

	  </div><!-- /.container-fluid -->
	</div>

	{% block body %}
	{% endblock %}

	<!-- Footer -->
	<footer>
		<div class="row">
		<i class="fa fa-facebook" aria-hidden="true"></i>
		<i class="fa fa-twitter" aria-hidden="true"></i>
		<i class="fa fa-google-plus" aria-hidden="true"></i>
		<i class="fa fa-behance" aria-hidden="true"></i>
		<i class="fa fa-dribbble" aria-hidden="true"></i>
		<i class="fa fa-instagram" aria-hidden="true"></i>
		</div>
	</footer>

	<!--Source Javascript scripts-->
	<!-- Load jQuery and Bootstrap js -->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="{% static "homepage/bootstrap.min.js" %}"></script>
	
	<!-- Carousel -->
	<script language="JavaScript" type="text/javascript">
	  $(document).ready(function(){
	    $('.carousel').carousel({
	      interval: 3000
	    })
	  });    
	</script> 

	<script src="{% static "homepage/scrollspy.js" %}"></script>
	<script src="{% static "homepage/base.js" %}"></script>

	{% block js-bottom %}
	{% endblock %}
	</body>
</html>
