<!DOCTYPE html>
<html class="html" lang="en-US">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Monte Christo Trade Corp.{% endblock %}</title>

	{% load static %} {% load sass_tags %}
	<link href="{% sass_src 'homepage/sass/app-style.sass' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'homepage/css/base-style.css' %}" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> {% block css %} {% endblock %}

</head>

<body data-spy="scroll" data-target="#main-navbar">
	<!-- Navbar -->
	<div class="navbar navbar-default navbar-fixed-top" id="#main-navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<a class="navbar-brand" href="/"><span class="logo-1">MC Trade</span> <span class="logo-2">Corp.</span></a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/#manufacturing">MANUFACTURING</a></li>
					<li><a href="/#services">SERVICES</a></li>
					<li><a href="/#contact">CONTACT</a></li>
					<li><a href="/catalogue">CATALOGUE</a></li>
					<li><a href="/webstore">SHOP</a></li>
				</ul>
			</div>
		</div>
	</div>

	{% block body %} {% endblock %}

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-google-plus" aria-hidden="true"></i>
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</div>
				<div class="col-md-12 text-center">
					© 2015 Copyright Monte Christo Trade Corp.
				</div>
			</div>
		</div>
	</footer>

	<!--Source Javascript scripts-->
	<!-- Load jQuery and Bootstrap js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'homepage/js/scrollspy.js' %}"></script>
	<!--<script src="{% static "homepage/js/base.js" %}"></script>-->

	{% block js-bottom %} {% endblock %}
</body>

</html>