{% extends "homepage/machine.html" %} {% load static %}

{% block machine_name %}
<h2 align="center">Chain Making</h2>
{% endblock %}

{% block machine_description %}
<p>Many different profiles of rolled wire can be used in making chains of different shapes. In order to be functional, a chain should be comfortable to wear and flexible to accommodate movement of the body. Available in a  great range of designs and sizes, machine-made chains offer the jeweler wider possibilities than the hand-making process in terms of scale and uniformity of links. The chain is sold "loose" off the reel by weight, or "finished" - having a catch already attached and cut to a standard length. Chain making machines (pictured right) are commonly used during large production. Machine made chains can be cut and soldered in the usual way; the main difficulties arise from very fine chains that can easily be melted, or snake chain that is liable to draw solder along its length, making the chain rigid.</p>
<p>Variations to the gauge or profile of wire used can help to make a simple chain more visually interesting. Links may alternate in size along the chain, or be graduated so that the largest links are at the center of the piece. Using different metals can also be effective. Once soldered, jump rings can be flattened, hammered, textured, twisted, or stretched, and joined with either plain or decorated jump rings. Other decorative finishes include diamond cutting the face of each link by with an ice lathe machine (pictured left). Diamond cut chains are classic finishes commonly used to add shine and dimension to any chain design</p>
{% endblock %}

{% block machine_video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/AW5g8IaR1p4" frameborder="0" class="col-md-12" allowfullscreen></iframe>
{% endblock %}
