{% extends "homepage/base.html" %}

<!-- First Divider -->
{% block body %}

<div class="featurette">
	<div>
	   <p><span>Monte Christo Trade Corp.</span></p>
	   <p>&nbsp;</p>
	  </div>
	<div>
	   <p>Located in the heart of Downtown Los Angeles, Monte Christo Trade Corp. was founded in 1997. It has been operating under the same ownership since inception. Manufacturing and wholesaling jewelry and fashion accessories is our specialty.</p>
	</div>
</div>

<!-- Second Divider -->
<div class="featurette">
	<iframe src="http://player.vimeo.com/video/101231747?title=0&amp;byline=0&amp;portrait=0&amp;color=FFFFFF&amp;autoplay=0&amp;loop=0&amp;wmode=transparent" width="590" height="334" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	<p><span id="u42886">MADE IN THE USA</span></p>
	<p>We proudly embrace our culture and community.&nbsp; We are dedicated to bringing jobs and prosperity back to the United States, while utilizing high standards in our manufacturing processes and components.</p>
<div>

<!-- Third Divider -->
<div>
<p><span id="u45102">MANUFACTURING</span></p>
<p>Monte Christo Trade Corp. is equipped with the latest hi-tech induction casting and spin casting machinery, gas-fired furnaces, high speed tumbling machines, and latest 3D CAD and CNC design/printing software and equipment. We also maintain a wide variety of vintage machinery for specialty needs. We are constantly acquiring new machinery and extending our capabilities in order to keep up with our clients needs and demands. The content on this page highlights some basic capabilities and is intended for educational use.</p>

 <a class="nonblock nontext rgba-background Image_Rollover_Plus museBGSize clearfix grpelem" id="u44001" href="image_1.html" data-href="page:U16621" data-muse-uid="U44001"><!-- group --><!-- m_editable region-id="editable-static-tag-U43992" template="index.html" data-type="html" data-ice-options="disableImageResize,link" --><div class="TeamName clearfix grpelem" id="u43992-6" data-muse-uid="U43992" data-muse-type="txt_frame"><!-- content --><p id="u43992-2">Casting</p><p id="u43992-4">–</p></div><!-- /m_editable --></a>

 <a class="nonblock nontext Image_Rollover_Plus museBGSize rgba-background clearfix grpelem" id="u44004" href="image_2.html" data-href="page:U48466" data-muse-uid="U44004"><!-- group --><!-- m_editable region-id="editable-static-tag-U43995" template="index.html" data-type="html" data-ice-options="disableImageResize,link" --><div class="TeamName clearfix grpelem" id="u43995-6" data-muse-uid="U43995" data-muse-type="txt_frame"><!-- content --><p id="u43995-2">Forging &amp; Pressing</p><p id="u43995-4">–</p></div><!-- /m_editable --></a>

 <a class="nonblock nontext Image_Rollover_Plus museBGSize rgba-background clearfix grpelem" id="u44007" href="image_3.html" data-href="page:U29582" data-muse-uid="U44007"><!-- group --><!-- m_editable region-id="editable-static-tag-U43998" template="index.html" data-type="html" data-ice-options="disableImageResize,link" --><div class="TeamName clearfix grpelem" id="u43998-6" data-muse-uid="U43998" data-muse-type="txt_frame"><!-- content --><p id="u43998-2">Annealing &amp; Soldering</p><p id="u43998-4">–</p></div><!-- /m_editable --></a>

 <a class="nonblock nontext Image_Rollover_Plus museBGSize rgba-background clearfix grpelem" id="u44002" href="image_4.html" data-href="page:U29620" data-muse-uid="U44002"><!-- group --><!-- m_editable region-id="editable-static-tag-U43993" template="index.html" data-type="html" data-ice-options="disableImageResize,link" --><div class="TeamName clearfix grpelem" id="u43993-6" data-muse-uid="U43993" data-muse-type="txt_frame"><!-- content --><p id="u43993-2">Polishing</p><p id="u43993-4">–</p></div><!-- /m_editable --></a>

 <a class="nonblock nontext Image_Rollover_Plus museBGSize rgba-background clearfix grpelem" id="u44005" href="image_5.html" data-href="page:U29658" data-muse-uid="U44005"><!-- group --><!-- m_editable region-id="editable-static-tag-U43996" template="index.html" data-type="html" data-ice-options="disableImageResize,link" --><div class="TeamName clearfix grpelem" id="u43996-6" data-muse-uid="U43996" data-muse-type="txt_frame"><!-- content --><p id="u43996-2">Wire Rolling</p><p id="u43996-4">–</p></div><!-- /m_editable --></a>

 <a class="nonblock nontext Image_Rollover_Plus museBGSize rgba-background clearfix grpelem" id="u44008" href="image_6.html" data-href="page:U29696" data-muse-uid="U44008"><!-- group --><!-- m_editable region-id="editable-static-tag-U43999" template="index.html" data-type="html" data-ice-options="disableImageResize,link" --><div class="TeamName clearfix grpelem" id="u43999-6" data-muse-uid="U43999" data-muse-type="txt_frame"><!-- content --><p id="u43999-2">Chain Making</p><p id="u43999-4">–</p></div><!-- /m_editable --></a>

</div>

<!-- Fourth Divider -->
<div class="clearfix grpelem" id="u45114-6" data-muse-uid="U45114" data-muse-type="txt_frame">
	<blockquote>
		<p>&quot;If you hear a voice within you say 'you cannot paint,' then by all means paint and that voice will be silenced.&quot;</p>
		<small><cite title="Source Title">Vincent Van Gogh</cite></small>
	</blockquote><!-- content -->
</div>

<!-- Fifth Divider -->
<div>
	<div class="clearfix colelem" id="u44798-4" data-muse-uid="U44798" data-muse-type="txt_frame"><!-- content -->
		<p><span id="u44798">OUR SERVICES</span></p>
	</div>
	<div class="clearfix colelem" id="u44797-4" data-muse-uid="U44797" data-muse-type="txt_frame"><!-- content -->
		<p>We will be there every step of the way.</p>
	</div>
	<div>
		<div class="clearfix grpelem" id="u47788"><!-- group -->
		 <!-- m_editable region-id="editable-static-tag-U47789" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
		 <div class="clearfix grpelem" id="u47789-4" data-muse-uid="U47789" data-muse-type="txt_frame"><!-- content -->
		  <p>DESIGN</p>
		 </div>
		 <!-- /m_editable -->
		</div>
		<div class="clearfix grpelem" id="u47892"><!-- group -->
		 <!-- m_editable region-id="editable-static-tag-U47894" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
		 <div class="clearfix grpelem" id="u47894-4" data-muse-uid="U47894" data-muse-type="txt_frame"><!-- content -->
		  <p>PACKAGE</p>
		 </div>
		 <!-- /m_editable -->
		</div>
		<div class="clearfix grpelem" id="u47880"><!-- group -->
		 <!-- m_editable region-id="editable-static-tag-U47882" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
		 <div class="clearfix grpelem" id="u47882-4" data-muse-uid="U47882" data-muse-type="txt_frame"><!-- content -->
		  <p>MANUFACTURE</p>
		 </div>
		 <!-- /m_editable -->
		</div>

		<div class="clearfix grpelem" id="u47888"><!-- group -->
		<!-- m_editable region-id="editable-static-tag-U47889" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
		<div class="clearfix grpelem" id="u47889-4" data-muse-uid="U47889" data-muse-type="txt_frame"><!-- content -->
		 <p>SELL</p>
		</div>
		<!-- /m_editable -->
		</div>
	</div>
</div>

<!-- Sixth Divider -->
<div>
	<blockquote class="blockquote-reverse">
		<p>&quot;I put my heart and my soul into my work, and have lost my mind in the process.&quot;</p>
		<small><cite title="Source Title">Vincent Van Gogh</cite></small>
	</blockquote>
</div>

<!-- Seventh Divider (address) -->

<!-- Eighth Divider (contact form) -->
<div class="container" id="contact">
	<h3>Get &nbsp;In &nbsp;Touch</h3>
	<div class="row">
		<div class="col-md-4">
			<address>
				<strong>Address</strong><br>
				1355 Market Street, Suite 900<br>
				San Francisco, CA 94103<br>
				<abbr title="Phone">P:</abbr> (123) 456-7890
			</address>

			<address>
				<strong>Full Name</strong><br>
				<a href="mailto:#">first.last@example.com</a>
			</address>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
				  <strong>Name:</strong>
				</div>
				<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
				  <strong>Email:</strong>
				</div>
				<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
				  <strong>Subject:</strong>
				</div>
			</div>
		</div>
	</div>
</div>

<form>
	
<div class="form-group row">
	<label for="example-text-input" class="col-2 col-form-label">Text</label>
	<!-- <div class="col-10"> -->
	<input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
	<!-- </div> -->
	<label class="control-label" for="focusedInput">Name:</label>
	<input class="form-control" id="formdata-name" type="text" placeholder="Name.">
</div>

<div class="form-group">
  <label class="control-label" for="focusedInput">Name:</label>
  <input class="form-control" id="formdata-name" type="text" placeholder="Name.">
</div>

<div class="form-group">
    <label class="control-label" for="focusedInput">Email:</label>
  <input class="form-control" type="formdata-email" placeholder="Email." type="email">
</div>

<div class="form-group">
  <label class="control-label" for="focusedInput">Subject:</label>
  <input class="form-group" id="formdata-subject" type="text" placeholder="Subject.">
</div>

<div class="form-group">
  <label class="control-label" for="inputError">Your Message:</label>
  <input class="form-control" id="formdata-message" type="text" placeholder="Add a brief message...">
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}

