{% extends "homepage/base.html" %} {% load static %}

{% block body %}

<div class="container">
  <div id="machine">
			<div id="machine-name">
				{% block machine_name %} {% endblock %}
			</div>

      <div class="row">
				<div id="machine-video" class="col-md-6">
				  <div class="embed-responsive embed-responsive-16by9">
				  	{% block machine_video %} {% endblock %}
          </div>
				</div>
        <br>
        <div id="machine-description" class="col-md-6">
				  {% block machine_description %} {% endblock %}
        </div>
      </div>
  </div>
  <br>
  <div id="machine_navigation" class="row">
    <div align="center" class="col-md-12 col-xs-12">
      <a href="/#manufacturing">
        <i class="glyphicon glyphicon-th" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <br>
</div>

{% endblock %}
